:root {
    --backgroundcolor:#FCE8C6;
   --box: saddlebrown;
}
body {
    background-color: var(--backgroundcolor);
}
h1{
    font-size: 3rem;
}
label{
    margin-left: 100px;
    padding-top: 10px;
}
h2{
    margin-top: 65px;
    margin-left: 240px;
}
select{
    margin-left: 265px;
    appearance: none;
    text-align: center;
    font-size: 18px;
    width: 80px;
    height: 40px;
    border-radius: 999px;
    border: 2px solid;
    background-color: var(--box);
}

input[type="text"]{
    text-align: center;
    height: 30px;
    width: 200px;
    border: 2px solid;
    border-radius: 999px;
    position: absolute;
    right: 45px;
    top: 25px;
    transition: all 0.5s ease;
}
input[type="text"].fixed{
    position: fixed;
    top: 50px;
    right: -70px;
    transform: translateX(-50%);
    width: 200px; /* Set a specific width for the input in fixed position */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */


}


.header{
    background-image: url("/img/coffeeprojectimage1.webp");
    height: 400px;
    background-size: 100% 100%;
}

hr{
    text-align: center;
    margin: 0 auto;
    width: 80%;
    border: 1px solid #8B4513FF;

}
.test{
    height: 100dvh;
}
.main.container{
    justify-content: center;
    width: 600px;
    flex-wrap: wrap;
}







.custom-dropdown {
    display: inline-block;
    position: absolute;
    top: 89px;
    left: 20px;
    width: 500px;

}

.dropdown {

    background-image: url("/img/Screenshot 2023-11-15 at 3.58.31 PM.jpeg");
    background-position: bottom;
    color: black;
    background-size: 300px 300px;
    position: relative;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* Adjust the width as needed */
}

.selected-option {
    padding: 10px;
}

.options {
    list-style: none;
    padding: 0;
    margin: 0;
    max-height: 0;
    overflow: hidden;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    border-radius: 0 0 5px 5px;
    transition: max-height 0.3s ease-out;
}

.options li {
    padding: 10px;
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    transition: background-color 0.3s;
}

.options li:hover {
    background-color: #f0f0f0;
}

.custom-dropdown.open .options {
    max-height: 200px; /* Adjust the max-height as needed */
}

/*card style*/
.card{
    border: 2px solid black;
    border-radius: 10px;
    text-align: center;
}
.coffee-add{
    display: flex;
    justify-content: space-evenly;
}
a{
    text-decoration: none;
    color: black;
}
.card-img-top{
    height: 167px;
    width: 288px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px
}
.row.hey{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.card{
    width: 18rem;
    margin-bottom: 20px;
}
.hr2{
    width: 60%;
}
#coffeeContainer{
    display: flex;
    width: 1000px;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.added{
    display: flex;
    justify-content: space-evenly;
    width: 1000px;
    flex-wrap: wrap;
}
.addBtn:hover{
    position: relative;
    bottom: 5px;
    font-size: 30px;
}
.cardhr{
    width: 98%;
    border: 1px solid black;
}
.addBtn{
    background-color: var(--backgroundcolor);
    border: none;
}

.toggle{
    display: none;
}
